/db/
/incremental_db/
/simulation/
/timing/
/testbench/
/PLL_CPU_sim/
/PLL_VGA_sim/
/.qsys_edit/

*_generation_script*

*.vo
*.xml
synthesis
cadence
*.done
*.bak
*.txt
*.rpt
*.sof
*.summary
*.done
*.pin
*.jdi
*.sld
*.qws
*.cmp
*_inst.vhd
*_sopc_*
*.spd
*.json
*.html
*.tcl
*.bsf
*.f
*.vo
*.ppf
*.qdf
*smsg
*.sopcinfo
*.sopc_builder
!DE10-Lite_pin.qsf.txt
